body {
    background:white;
    
}

header{

    background:grey;
    color: white;
    padding: 100px ; 
    text-align:center;
}

main {
    display: flex;
    gap:20px;
    padding:20px;
    background: lightgray;
}

#liste-pokemon {
    flex: 2;
    background: white;
    padding: 20px;
}

#grille-pokemon {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
}

#pokemon-choisi{
    flex: 1;
    background: white; 
    padding: 20px;
    }

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    background: grey;
    color: white;
    padding: 100px;
    text-align: center;
}